:host {
    display: block;
    position: relative;
}

.image {
    line-height: 0;
}

.image.original {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.image.original ::slotted(*) {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.separator {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 15px;
    left: 50%;
    cursor: move;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
}

.separator::after {
    content: ' ';
    background-color: var(--spectrum-global-color-gray-75);
    width: 4px;
    height: 100%;
}

.icon {
    line-height: 0;
    position: absolute;
    background: var(--spectrum-global-color-gray-50);
    padding: 15px;
    border-radius: 50%;
}