/* @import '@spectrum-web-components/styles/all-medium-dark.css'; */
@import '@spectrum-web-components/styles/core-global.css';
@import '@spectrum-web-components/styles/fonts.css';
@import '@spectrum-web-components/styles/theme-dark.css';
@import '@spectrum-web-components/styles/scale-medium.css';

html,
body {
    width: 100%;
    height: 100%;
}

html {
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202%202%22%3E%3Cpath%20d%3D%22M1%202V0h1v1H0v1z%22%20fill-opacity%3D%22.05%22%2F%3E%3C%2Fsvg%3E);
    background-size: 16px 16px;
    background-color: var(--spectrum-global-color-gray-200);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--spectrum-global-color-gray-300);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--spectrum-global-color-gray-400);
}

body {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    height: 100%;
    color: var(--spectrum-global-color-gray-800);
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scrollable {
    overflow-y: scroll;
}

#canvas {
    height: 100%;
    width: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}

#palette {
    flex-wrap: wrap;
    margin-top: 20px;
}
#palette > div {
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 24px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 24px;
}

.toolbar {
    width: 20vw;
}

.channel-red {
    --spectrum-slider-color-track-background-color-gradient-start: #000000;
    --spectrum-slider-color-track-background-color-gradient-end: #ff0000;
}

.channel-green {
    --spectrum-slider-color-track-background-color-gradient-start: black;
    --spectrum-slider-color-track-background-color-gradient-end: #00ff00;
}

.channel-blue {
    --spectrum-slider-color-track-background-color-gradient-start: black;
    --spectrum-slider-color-track-background-color-gradient-end: #0000ff;
}