#addButton {
    height: var(--spectrum-actionbutton-height, var(--spectrum-alias-single-line-height));
    width: var(--spectrum-actionbutton-min-width, var(--spectrum-global-dimension-size-400));
}

.swatch {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}